@model Punto_de_venta__POS_.Models.Login

<h2>Iniciar Sesión</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(model => model.Usuario_)
        @Html.TextBoxFor(model => model.Usuario_, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Usuario_)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Contrasena)
        @Html.TextBoxFor(model => model.Contrasena, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Contrasena)
    </div>

    <p>
        <input type="submit" value="Guardar" class="btn btn-primary" />
        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
    </p>
}